@import url(https://api.fontshare.com/v2/css?f[]=general-sans@400,500&display=swap);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

html,
body,
#root {
	min-height: 100% !important;
	height: 100%;
}

body {
	background: #0a090d;
	color: #fff;
	font-weight: 400;
	font-family: "General Sans", sans-serif;
}

.App {
	position: relative;
	height: 100%;
	display: grid;
	place-items: center;
}

h2 {
	color: hsl(260, 15%, 80%);
}

nav.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.25rem;
	font-weight: 500;
}

.Link__Container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.Link {
	color: hsla(260, 15%, 75%, 0.6);
	text-decoration: none;
	transition: color 0.2s;
}

.Link:hover {
	color: hsla(260, 15%, 95%, 0.6);
}

.Link--active {
	text-decoration: none;
	color: hsl(260, 15%, 95%);
}

.Link--pending {
	text-decoration: none;
	color: hsl(260, 5%, 63%);
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 1.25rem;
	font-weight: 500;
}

.FullWidth {
	width: 100% !important;
}

.FullWidth:hover {
	transform: none !important;
}

.Image__Container {
	padding: 0;
}

.Image__Container img {
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.Logo__Container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.Logo__Container span {
	color: #555;
	font-size: 0.75rem;
	font-weight: 400;
}

.Logo {
	height: 1.5rem;
	opacity: 0.5;
}

.NFT__Container {
	width: clamp(30px, 33%, 400px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 2px solid hsla(260, 5%, 100%, 0.1);
	border-radius: 0.75rem;
	padding: 1rem;
	background: hsla(255, 18%, 7%, 0.75);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.Gallery__Wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	max-height: 500px;
	overflow-y: scroll;
}

.Gallery__Wrapper .Gallery__Container {
	margin: 0 !important;
	width: clamp(200px, 33%, 300px);
}

.Gallery__Container {
	width: clamp(300px, 33%, 400px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 2px solid hsla(260, 5%, 100%, 0.1);
	border-radius: 0.75rem;
	background: hsl(260, 15%, 16%);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	overflow: hidden;
	transition: border 0.2s, box-shadow 0.2s;
}

.Gallery__Container:hover {
	border-color: hsla(260, 5%, 100%, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.Gallery__Container:hover .Divider {
	background: hsla(260, 5%, 100%, 0.06);
}

.Gallery__Container .Divider {
	width: 100%;
	height: 2px;
	background: hsla(260, 5%, 100%, 0.03);
	margin: 0 !important;
	transition: background 0.2s;
}

.Gallery__Container .Info__Container {
	padding: 1rem;
	background: hsla(255, 18%, 7%, 0.75);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem;
}

.Gallery__Container .Btn__Container {
	padding: 1rem;
	background: hsla(255, 18%, 7%, 0.75);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem;
}

.Gallery__Container .Info__Container h2 {
	color: hsl(260, 5%, 100%);
}

.Gallery__Container .Info__Container p {
	color: hsla(260, 15%, 75%, 0.75);
}

.Info__Container--meta {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.Gallery__Container .File__Container {
	padding: 1.25rem 1rem;
}

.Gallery__Container .File__Container img {
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.File__Container {
	display: flex;
	flex-direction: column;
}

.File__Container img {
	max-width: 100%;
	object-fit: cover;
	border-radius: 0.5rem 0.5rem 0 0;
}

.External__Container {
	display: flex;
	align-items: flex-end;
	gap: 0.5rem;
}

.Link--External {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	font-size: 0.75rem;
	font-weight: 500;
}

.Image__Container {
	display: flex;
	flex-direction: column;
}

.Image__Container img {
	max-width: 100%;
	object-fit: cover;
}

.File__Metadata {
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: hsl(260, 15%, 75%);
	font-size: 0.875rem;
	background: hsl(260, 15%, 16%);
	border-radius: 0 0 0.5rem 0.5rem;
	font-weight: 500;
}

.File__Metadata label {
	color: hsla(260, 15%, 75%, 0.85);
	font-weight: 400;
}

.container {
	font-weight: 400;
	color: hsl(260, 21%, 78%);
	width: 100%;
	display: grid;
	place-items: center;
}

.btn {
	all: unset;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background: hsl(262, 75%, 59%);
	color: #eeeeee;
	font-weight: 500;
	margin-left: auto;
	opacity: 1;
	display: grid;
	place-items: center;
	transition: all 0.2s ease;
	min-width: 6rem;
}

.btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.btn:not(:disabled):hover {
	background: hsl(262, 75%, 69%);
	color: #fff;
	transform: translateY(-2px);
}

.Buttons__Container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Buttons__Container p {
	font-size: 0.875rem;
	color: hsla(260, 15%, 75%, 0.75);
}

.Buttons__Container p > b {
	color: hsla(260, 15%, 75%, 1);
}

input::file-selector-button {
	border: solid 2px hsla(260, 5%, 100%, 0.1);
	margin-right: 0.75rem;
	background: transparent;
	color: hsla(260, 5%, 90%, 0.66);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	font-weight: 400;
}

.Input__Container {
	display: block;
}

.Input__Container label {
	display: block;
	color: hsla(260, 5%, 90%, 0.5);
	font-size: 0.875rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

.Input__Container input[type="text"] {
	border: solid 2px hsla(260, 5%, 100%, 0.1);
	background: transparent;
	color: hsla(260, 5%, 90%, 1);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	font-weight: 400;
	width: 100%;
}

.Input__Container input[type="text"]:focus-visible {
	border: 2px solid hsl(262, 75%, 59%);
	outline: none;
}

.Input__Container input[type="text"]::placeholder {
	color: hsla(260, 5%, 90%, 0.33);
}

.Input__Container:not(:last-child) {
	margin-bottom: 0.5rem;
}

.Input__Wrapper {
	display: block;
}

.Divider {
	width: calc(100% + 2rem);
	height: 2px;
	background: hsla(260, 5%, 100%, 0.03);
	margin-left: -1rem;
}
